<div class="text-center my-3 lead">

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
</div>

<div class="text-center my-3">
<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-outline-success m-auto" %>
<%= link_to 'Back', users_path, class:"btn btn-outline-success m-auto" %>
</div>

<% provide(:title, @user.name) %>
