<div class="text-center mx-auto">
  <p class="my-auto mx-2 h5 py-2">Trends </p>
  <p class="my-auto mx-2 h6 py-2">Trend 1</p>
  <p class="my-auto mx-2 h6 py-2">Trend 2</p>
  <p class="my-auto mx-2 h6 py-2">Trend 3</p>
  <p class="my-auto mx-2 h6 py-2">Trend 4</p>
  <p class="my-auto mx-2 h6 py-2">Trend 5</p>
  <p class="my-auto mx-2 h6 py-2">Trend 6</p>
</div>
